In [2]:
record={
    4285:{"Name":'5-Star',"PRICE":150,"Quantity":100},
    4290:{"Name":'Milkybar',"PRICE":120,"Quantity":80},
    4291:{"Name":'Milkybar',"PRICE":180,"Quantity":120},
    4274:{"Name":'Choclate',"PRICE":120,"Quantity":80},
    4273:{"Name":'Cool Drinks',"PRICE":99,"Quantity":120},
    4272:{"Name":'Shakes',"PRICE":180,"Quantity":110}
}

In [4]:
print(record,end=" ")

{4285: {'Name': '5-Star', 'PRICE': 150, 'Quantity': 100}, 4290: {'Name': 'Milkybar', 'PRICE': 120, 'Quantity': 80}, 4291: {'Name': 'Milkybar', 'PRICE': 180, 'Quantity': 120}, 4274: {'Name': 'Choclate', 'PRICE': 120, 'Quantity': 80}, 4273: {'Name': 'Cool Drinks', 'PRICE': 99, 'Quantity': 120}, 4272: {'Name': 'Shakes', 'PRICE': 180, 'Quantity': 110}}

In [5]:
record

{4285: {'Name': '5-Star', 'PRICE': 150, 'Quantity': 100},
 4290: {'Name': 'Milkybar', 'PRICE': 120, 'Quantity': 80},
 4291: {'Name': 'Milkybar', 'PRICE': 180, 'Quantity': 120},
 4274: {'Name': 'Choclate', 'PRICE': 120, 'Quantity': 80},
 4273: {'Name': 'Cool Drinks', 'PRICE': 99, 'Quantity': 120},
 4272: {'Name': 'Shakes', 'PRICE': 180, 'Quantity': 110}}

In [41]:
record[4285]

{'Name': '5-Star', 'PRICE': 150, 'Quantity': 100}

In [26]:
record[4291]

{'Name': 'Milkybar', 'PRICE': 180, 'Quantity': 120}

In [27]:
record[4290]['Name']

'Milkybar'

KeyError: 'Naresh'

In [29]:
record[4291]['Roll']

KeyError: 'Roll'

In [1]:
import json
record={
    4285:{"Name":'5-Star',"PRICE":150,"Quantity":100},
    4290:{"Name":'Milkybar',"PRICE":120,"Quantity":80},
    4291:{"Name":'Milkybar',"PRICE":180,"Quantity":120},
    4274:{"Name":'Choclate',"PRICE":120,"Quantity":80},
    4273:{"Name":'Cool Drinks',"PRICE":99,"Quantity":120},
    4272:{"Name":'Shakes',"PRICE":180,"Quantity":110}
}


print("----------------MENU---------------------------")

for key in record.keys():
    print(key,":",record[key]['Name'] ,"--",record[key]['PRICE'],"--",record[key]['Quantity'])
print("-----------------------------------------------")
ur_pd=int(input("Enter  Product id :"))
ur_qn=int(input("Enter  Quantity   :"))
print(record[ur_pd])
print('--------------BILL---------------------------')
print("Name             : ",record[ur_pd]['Name'])
print("Quantity         : ",ur_qn)
print("Price Of Product (Rs) : ",record[ur_pd]["PRICE"])
print("---------------BILLING-------------------------")
print("Billing Amount is (Rs): ",ur_qn*record[ur_pd]["PRICE"])

----------------MENU---------------------------
4285 : 5-Star -- 150 -- 100
4290 : Milkybar -- 120 -- 80
4291 : Milkybar -- 180 -- 120
4274 : Choclate -- 120 -- 80
4273 : Cool Drinks -- 99 -- 120
4272 : Shakes -- 180 -- 110
-----------------------------------------------
Enter  Product id :4285
Enter  Quantity   :3
{'Name': '5-Star', 'PRICE': 150, 'Quantity': 100}
--------------BILL---------------------------
Name             :  5-Star
Quantity         :  3
Price Of Product (Rs) :  150
---------------BILLING-------------------------
Billing Amount is (Rs):  450

In [2]:
record

{4285: {'Name': '5-Star', 'PRICE': 150, 'Quantity': 100},
 4290: {'Name': 'Milkybar', 'PRICE': 120, 'Quantity': 80},
 4291: {'Name': 'Milkybar', 'PRICE': 180, 'Quantity': 120},
 4274: {'Name': 'Choclate', 'PRICE': 120, 'Quantity': 80},
 4273: {'Name': 'Cool Drinks', 'PRICE': 99, 'Quantity': 120},
 4272: {'Name': 'Shakes', 'PRICE': 180, 'Quantity': 110}}

In [3]:
json.dumps(record)

TypeError: dump() missing 1 required positional argument: 'fp'